@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Fira+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: -0.011em;
  -webkit-font-smoothing: antialiased;
}

.font-technical {
  font-family: 'Fira Code', monospace;
}

/* Custom premium transitions and focus rings */
button, select, input, textarea {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

@media print {
  @page {
    margin: 0mm !important;
  }
  html, body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  /* Hide next.js default wrappers/elements when printing */
  header, footer, nav, aside {
    display: none !important;
  }
}
